# Dependency directories
node_modules/

# Vite build output
dist
dist-ssr

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.idea
.vscode
.DS_Store

# Environment variables
.env
.env.*
!.env.example

# Ignore large media files in the public directory
/public/*.mp4
/public/*.jpg
/public/*.jpeg
/public/*.png