.gallerySection {
    padding-top: 4rem;
}

.galleryGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.galleryItem {
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    cursor: pointer;
    position: relative;
}

.galleryItem::after {
    content: '＋';
    font-family: sans-serif;
    font-size: 3rem;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.galleryItem:hover::after {
    opacity: 1;
}


.galleryItem img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.galleryItem:hover img {
    transform: scale(1.05);
}