.parcoMezziSection {
    background-color: var(--light-grey-bg);
}

.header {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 3rem auto;
}

.mezziList {
    list-style: none;
    padding: 0;
    column-count: 3;
    column-gap: 2rem;
}

.mezziList li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #333;
    break-inside: avoid-column;
}

.mezziList li::before {
    content: '■';
    position: absolute;
    left: 0;
    top: 0;
    color: var(--primary-yellow);
    font-size: 1rem;
}



/* Responsive */
@media (max-width: 992px) {
    .mezziList {
        column-count: 2;
    }
}

@media (max-width: 576px) {
    .mezziList {
        column-count: 1;
    }
}