.gallerySection {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.videoGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    max-width: 900px;
    margin: 0 auto;
}

.galleryItem {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
.galleryItem video {
    width: 200%;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    display: block;
}

/* === GESTIONE RESPONSIVE DEL NUMERO DI COLONNE === */
@media (max-width: 1100px) {
    .videoGrid {
        column-count: 2;
    }
}

@media (max-width: 768px) {
    .videoGrid {
        grid-template-columns: 1fr;
    }
}